<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>활동기간 수상내역</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/u/<%= userId %>"><%= username %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/u/<%= userId %>/profile">프로필</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/u/<%= userId %>/write">글쓰기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/u/<%= userId %>/write/activity">활동기간,수상내역</a>
            </li>
            <li class="nav-item">
              <!-- 로그아웃버튼 -->
              <a class="nav-link" href="/logout">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
        <h2>활동기간 📑</h2>
        <form action="/u/<%= userId %>/activity/<%= activityId %>/edit" method="post">
            <label for="content">활동기간</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="start date(2022.02)" aria-label="start date"
                        name="startDate" value="<%= data.startDate %>" required>
                </div>
                <div class="col" style="text-align: center;">
                    <span>~</span>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="end date(2022.02)" aria-label="end date"
                        name="endDate" value="<%= data.endDate %>" required>
                </div>
                <label for="activityName" class="form-label">활동명</label>
                <div class="col-12">
                    <input type="text" class="form-control" name="activityName" id="activityName" placeholder="활동명"
                        value="<%= data.activityName %>" required>
                </div>
                <label for="activityDetail" class="form-label">활동 상세 내용</label>
                <div class="col-12">
                    <input type="text" class="form-control" name="activityDetail" id="activityDetail"
                        value="<%= data.activityDetail %>" placeholder="활동 상세 내용">
                </div>
                <div>
                    <label></label>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-dark">등록</button>
                </div>
                <div>
                    <label></label>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>